:root {
  /* default dark mode */
  --text-color: #73abad;
  --bg-color: #211d1b;
  --selection-color: #519975;
  --cursor-color: #73abad;
  --command-color: #73abad;
  --liner-color: #519975;
  --index-color: #dcdccc;
  --color2-color: #b89076;
  --cmd-color: #73abad;
  --cmd-shadow: #73abad;
  --error-color: #b89076;
  --link-color: #9c8394;
  --link-hover-color: #519975;
  --link-hover-bg: #211d1b;
}

[data-theme='atnight']{
  --text-color: #73abad;
  --bg-color: #211d1b;
  --selection-color: #519975;
  --cursor-color: #73abad;
  --command-color: #73abad
  --liner-color: #519975;
  --index-color: #dcdccc;
  --color2-color: #b89076;
  --cmd-color: #73abad;
  --cmd-shadow: #73abad;
  --error-color: #b89076;
  --link-color: #9c8394;
  --link-hover-color: #519975;
  --link-hover-bg: #211d1b;
}

[data-theme='atday']{
  --text-color: #33415a;
  --bg-color: #eff3f3;
  --selection-color: #308efd;
  --cursor-color: #33415a;
  --command-color: #027474;
  --liner-color: #027474;
  --index-color: #a8a8a8;
  --color2-color: #33415a;
  --cmd-color: #117dbd;
  --cmd-shadow: none;
  --error-color: #ff818a;
  --link-color: #117dbd;
  --link-hover-color: #308efd;
  --link-hover-bg: #eff3f3;
}

[data-theme='gruvboxdark']{
  --text-color: #ebdbb2;
  --bg-color: #282828;
  --selection-color: #308efd;
  --cursor-color: #a89984;
  --command-color: #98971a;
  --liner-color: #d79921;
  --index-color: #a8a8a8;
  --color2-color: #a89984;
  --cmd-color: #98971a;
  --cmd-shadow: none;
  --error-color: #ac2326;
  --link-color: #d79921;
  --link-hover-color: #282828;
  --link-hover-bg: #d79921;
}

[data-theme='belafonteday']{
  --text-color: #46373c;
  --bg-color: #d5ccba;
  --selection-color: #308efd;
  --cursor-color: #8f8770;
  --command-color: #8f8770;
  --liner-color: #ddac62;
  --index-color: #a8a8a8;
  --color2-color: #a89984;
  --cmd-color: #46373c;
  --cmd-shadow: none;
  --error-color: #ac2326;
  --link-color: #ddac62;
  --link-hover-color: #d5ccba;
  --link-hover-bg: #ddac62;
}